<p>conttacto works!</p>
<h4>{{titulo}}</h4>
                        <ul class="list-unstyled">
                            @for (medio of medios; track medio.texto){
                                <li> 
                                    <a href="#" class="text-white">
                                        {{medio.texto}}
                                    </a>

                                </li>
                            }@empty {
                                Empty list of media
                            }
                        </ul>
